@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 19, 22, 25;
  --background-rgb: 239, 239, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 242, 245, 248;
    --background-rgb: 47, 47, 47;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
