@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 19, 22, 25;
  --background-rgb: 239, 239, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 242, 245, 248;
    --background-rgb: 47, 47, 65;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
}

@layer components {
  .input-flat {
    @apply w-full h-8 bg-slate-300 dark:bg-slate-800 outline-none p-6 text-base rounded-md;
  }

  .input-wrapper-left-flat {
    @apply bg-slate-300 dark:bg-slate-800 text-base rounded-md flex items-center pr-5;
  }

  .button-flat {
    @apply bg-emerald-500 text-white rounded-2xl shadow-black drop-shadow-sm hover:bg-slate-300 hover:text-emerald-600 transition-all hover:drop-shadow-none dark:hover:bg-slate-600 text-lg flex items-center justify-center  disabled:cursor-not-allowed;
  }

  .button-flat-inverse {
    @apply bg-white text-emerald-600 transition-all hover:drop-shadow-none dark:bg-slate-700 hover:bg-slate-300 dark:hover:bg-slate-800 hover:text-inherit rounded-md   text-lg flex items-center justify-center  disabled:cursor-not-allowed;
  }

  .button-danger-flat {
    @apply bg-red-500 text-white rounded-2xl hover:bg-slate-300 hover:text-red-600 transition-all hover:drop-shadow-none dark:hover:bg-slate-600 text-lg flex items-center justify-center  disabled:cursor-not-allowed;
  }

  .button-warning-flat {
    @apply bg-yellow-400 text-white rounded-2xl shadow-black drop-shadow-sm hover:bg-slate-300 hover:text-yellow-500 transition-all hover:drop-shadow-none dark:hover:bg-slate-600 text-lg flex items-center justify-center  disabled:cursor-not-allowed;
  }

  .card-container {
    @apply sm:ml-0 ml-5 w-11/12  bg-white dark:bg-slate-700 px-2 py-4 sm:p-8 flex flex-col;
  }
}
